@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #A40C0C;
    --dark: #1D1B1B;
    --light: #FFFFFF;
    --secondary: #9D8420;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
    color: var(--light);
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    border-bottom: 3px solid var(--secondary);
    gap: 1rem;
    padding: 1rem;
    overflow: hidden;
}

.nav-link {
    text-decoration: none;
    color: var(--light);
    padding: 1rem 1.5rem;
    transition: background-color 0.5s ease;
    border-radius: 1rem;
    align-items: center;
}

.nav-link:hover {
    background-color: var(--secondary);
    /* color: var(--dark); */
}

#nav-link-logo {
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

#nav-link-logo img {
    height: 40px;
    object-fit: contain;
    align-self: center;
}

#banner {
    justify-content: center;
    margin: 1rem;
    height: 40vh;
    display: flex;
    flex-direction: column;
}

#banner-headline {
    text-align: center;
    align-self: center;
    font-size: 90px;
    position: relative;
    width: max-content;
    margin-inline: auto;
}

/* 
    Banner-headline animation
*/

@keyframes banner-headline {
    0% {
        width: 100%;
        transform: scaleX(0);
        transform-origin: left;
    }

    40% {
        transform: scaleX(1);
        transform-origin: left;
    }

    41% {
        transform: scaleX(1);
        transform-origin: right;
    }

    80% {
        transform: scaleX(0);
        transform-origin: right;
    }

    100% {
        width: 100%;
        transform: scaleX(0);
        transform-origin: right;
    }
}

#banner-headline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    border-radius: 1rem;
    width: 0%;
    height: 5px;

    animation: banner-headline 5s ease infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

#banner-subheadline {
    font-size: 30px;
    text-align: center;
    margin-top: 0.5rem;
    /* text-decoration: underline; */
    /* text-decoration-color: var(--secondary); */
    /* text-underline-offset: 1rem; */
}

#items-main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

#load-items-button {
    margin: 1rem auto;
    padding: 12px;
    cursor: pointer;
    border: 2px solid var(--primary);
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--light);
}

#load-items-button:hover {
    border: 2px solid var(--light);
}

#item-container {
    margin: 1rem;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.item {
    /* width: 200px;
    height: 100px; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--light);
    border: 5px solid var(--secondary);
    border-radius: 1rem;
    color: #000;
    padding: 1rem;
    margin: 1rem;
}

.item > * {
    align-self: center;
}

.item-name {
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-color: var(--secondary);
}

.item-finder-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0.2rem;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem;
}

.item-sub-container > * {
    text-align: center;
}

.item-image {
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
}

#footer {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    color: var(--light);
    gap: 5rem;
    margin-top: 8rem;
    padding: 1rem;
}

#footer a {
    color: var(--light);
    text-decoration: none;
}

/*
    Hover animation
*/

.hover-animation {
    position: relative;
}

.hover-animation::before, .hover-animation::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    border-radius: 1rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in;
}

[data-hover-color="light"].hover-animation::before, [data-hover-color="light"].hover-animation::after {
    background-color: var(--light);
}
[data-hover-color="secondary"].hover-animation::before, [data-hover-color="secondary"].hover-animation::after {
    background-color: var(--secondary);
}

.hover-animation:hover::before, .hover-animation:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.hover-animation::before {
    top: -5px;
}

.hover-animation::after {
    bottom: -5px;
    transition-delay: 0.5s;
}

#index-container {
    color: var(--light);
    width: 80vw;
    height: 20vh;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

#index-link {
    color: var(--light);
    text-decoration: none;
    text-align: center;   
    font-size: 2rem;
    background-color: var(--secondary);
    padding: 2rem;
    border-radius: 15px;
}

#form-admin-login {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-inline: auto;
    gap: 3rem;
}

#form-admin-user, #form-admin-pass {
    background-color: var(--dark);
    border: none;
    border-bottom: 3px dashed var(--secondary);
    color: var(--light);
    position: relative;
    padding: 5px;
    transition: border 0.5s ease;
    height: 100%;
}

#form-admin-user:focus, #form-admin-pass:focus {
    outline: none;
    border-bottom-color: var(--primary);
    border-bottom-style: solid;
}

#form-admin-title {
    text-align: center;
}

#form-admin-submit {
    margin: 1rem auto;
    padding: 12px;
    cursor: pointer;
    border: 2px solid var(--primary);
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--light);
}

#form-admin-submit:hover, #form-admin-submit:focus {
    border: 2px solid var(--light);
}

.item-approve-button {
    margin: 1rem auto;
    padding: 12px;
    cursor: pointer;
    border: 2px solid var(--primary);
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--light);
}

.items-approve-button:hover {
    border: 2px solid var(--light);
}