@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #444;
    color: #fff;
}

#nav {
    display: flex;
    justify-content: center;
    background-color: #222;
    height: 50px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 1rem 1.5rem;
    transition: background-color 0.2s ease;
}

.nav-link:hover {
    background-color: #000;
    text-decoration: underline;
}

#nav-link-logo {
    padding: 0 2rem;
}

#nav-link-logo img {
    position: relative;
    height: 100%;
}

#banner {
    border: 2px solid #fff;
    justify-content: center;
    margin: 2rem;
}

#banner > * {
    text-align: center;
    margin: 1rem;
}

#items-main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

#load-items-button {
    max-width: 200px;
    margin: 1rem auto;
    padding: 1rem;
    cursor: pointer;
    background-color: #222;
    color: #fff;
    transition: background-color 0.2s ease;
}

#load-items-button:hover {
    background-color: #000;
    text-decoration: underline;
}

#item-container {
    border: 2px solid white;
    margin: 1rem;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.item {
    /* width: 200px;
    height: 100px; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #aaa;
    border: 5px solid #222;
    border-radius: 1rem;
    color: #000;
    padding: 1rem;
    margin: 1rem;
}

.item > * {
    align-self: center;
}

.item-name {
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem;
}

.item-finder-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 0.2rem;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1rem;
}

.item-sub-container > * {
    text-align: center;
}

.item-image {
    width: 50%;
    height: 50%;
}