@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #444;
    color: #fff;
}

#nav {
    display: flex;
    justify-content: center;
    background-color: #222;
    height: 50px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 1rem 1.5rem;
    transition: background-color 0.2s ease;
}

.nav-link:hover {
    background-color: #000;
    text-decoration: underline;
}

#nav-link-logo {
    padding: 0 2rem;
}

#nav-link-logo img {
    position: relative;
    height: 100%;
}

#banner {
    border: 2px solid #fff;
    justify-content: center;
    margin: 2rem;
}

#banner > * {
    text-align: center;
    margin: 1rem;
}